.quizQuesCard{
    &__topic{
        text-align: start;

        &--container{
            display: flex;
            justify-content: space-between;
            margin: 2rem 1.2rem;
        }

        &--heading{
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #B3A9A9;
        }

        &--sub-heading{
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #2F2F2F;
        }

    }

    
}