.header{
    background: transparent;   
    padding-top: 1.5rem;
    font-family: inherit;
    &__logo{
        max-width: 4.5rem;

        &--img{
            width:100%;
        }
    }

    &__navbar--toggler{
        filter: invert(19%) sepia(100%) saturate(6481%) hue-rotate(246deg) brightness(102%) contrast(143%) !important;
        border: none !important;
        @media (max-width: 768px) {
            display: block !important; 
        }
        
    }
}
